services:
  postgres:
    image: postgres
    container_name: postgres_assignment
    restart: unless-stopped
    
    ports:
      - "5434:5432"
    
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: travel-db 

    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
